
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tExchange</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script type="text/javascript" src="jquery-1.2.6.min.js"></script>-->
    <script type="text/javascript" src="loadpage.js"></script>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title> tExchange </title>
</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Navigation</a>
    </div>

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Example pages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Example1</a></li>
          <li><a href="#">Example2</a></li>
          <li><a href="#">Example3</a></li> 
        </ul>
      </li>
      <li><a href="#">Example</a></li> 
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li> 
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
    </ul>
  </div>

</nav> 

<div id="loadpage"></div>
<button type="button" id="button">Click</button>

</body>
</html>
